.navigation__group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.navigation-btn {
    color: #fff;
    background-color: rgba(23, 156, 222, 1);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
    margin: 10px;
    width: calc(33.3333333333% - 20px);
    text-decoration: none;
    font-weight: 700;
    font-size: 1.3rem;
    transition: background-color 0.3s ease;
    &:hover {
        background-color: rgba(23, 156, 222, 0.8);
    }
}

.navigation__label {
    margin: 0 10px 5px 10px;
    font-weight: 400;
    font-size: 1.5rem;
}

@media (max-width: 1000px) {
    .navigation-btn {
        width: calc(50% - 20px);
    }
}

@media (max-width: 530px) {
    .navigation-btn {
        width: calc(100% - 20px);
    }
}
