$mainColor: #179cde;

.header-app {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $mainColor;
    padding: 25px 15px 25px 15px;
}

.header-title {
    font-size: 1.6rem;
    color: #fff;
    margin: 0;
}

.header-navbar {
    margin: 0;
    list-style: none;
    display: flex;
    li {
        margin: 0 10px;
    }
}
