@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: #f5f5f5;
}

.generator {
    width: 800px;
    padding: 20px;
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    margin: 45px auto 0 auto;
}

.generator__inputs {
    width: 200px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group__input {
    outline: none;
}

.generator__result-wrapper {
    width: 400px;
    margin-left: 20px;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.generator__output {
    margin: 25px auto 0 auto;
    width: 800px;
    padding: 20px;
    border: 1px solid #000000;
    font-size: 30px;
    font-weight: 500;
}

.btn-copy {
    margin: 25px auto 40px auto;
    display: block;
    padding: 20px;
    width: 842px;
    font-size: 2rem;
    cursor: pointer;
}
